.container {
    max-width: 100%;
    display:grid;
    justify-content: center;
}
.outer {
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr;
}

.windspeedtext {
    color:white;
}