@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika:600|Varela+Round');

* {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1 em;
    margin: 0;
    padding: 0;
    border: 0;
}

  h1, h2 {
    font-family: "Signika", sans-serif;
    font-weight: 600;
  }
  h1 {
    font-size: 36px;
    line-height: 46px;
    color: #e0e0e0;
  }
  h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: -20px;
  }
  p {
    margin: 20px 0;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  
  /* LAYOUT */
  .fixed-nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
  }
.header{
  height:46px;
}
  
  .content {
    position: relative;
    background: #464646 url(59H-from-gratisography.jpg) no-repeat center center fixed;
    background-size: cover;
   }
  .description, .some-related-articles {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  .description {
    padding-top: 100px;
    min-height: 250px;
    text-align: center;
  }
  .some-related-articles {
    color: #747474;
  }
  .some-related-articles h1 {
    color: #384e56;
    margin-top: 60px;
    text-transform: uppercase;
  }
  .some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
    color: #464646;
    transition: color 0.1s ease;
  }
  .some-related-articles h2 a:hover {
    color: #000000;
    transition: color 0.3s ease;
  }
  /* SPECIAL */
  .summary {
    color: #d9dee2;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .button, .button:visited, .button-dark {
    display: inline-block;
    max-width: 200px;
    margin: 50px 10px 30px 10px;
    padding: 10px;
    font-family: "Signika", sans-serif;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.1s ease;
  }
  .button-dark, .button-dark:visited {
    margin: 20px 10px 30px 0;
    color: #464646;
    border-color: #464646;
  
  }
  .button:hover, .button-dark:hover {
    transition: all 0.3s ease;
  }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .button-dark:hover {
    color: #ffffff;
    background-color: rgba(70, 70, 70, 0.9);
  }

.chart {

    width:100%;

}

.wrapper {
    margin-top: 46px;
    display:
    grid;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    min-height: 100vw;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* align-content: center; */
    align-items: start;
}

.choice {
    background: black;
    color: white;
    border-radius: 5px;
    margin: 2px;
    padding: 1px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;
}



.charts {
    /* --max-width:
    calc((100vw) / 2); */
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, var(--max-width)), 1fr));
    /* grid-gap: 1rem; */
    height: 100%;
    align-items: start;
    justify-content: space-between;
    justify-items: center;
}

  

.gagues {
    /* --max-width:
    calc((100%) / 4); */
    /* width:100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(300px, var(--max-width)), 1fr));
    /* grid-gap: 1rem; */
}

.highcharts-container {background-color: black;max-width: 100vw;/* max-height: 50vh; */}

.highcharts-background {
    fill: #000000;
  }
.drop {
    min-width: 100%;
}
.buttonGust {
    border-radius: 5px;
    margin: 0;
    padding: 1px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color: white;

}

#forecast {
  max-width: 100vw;
  min-width: 0;
  height: 25vh;
  margin: 0 auto;
}

#loading {
  margin-top: 100px;
  text-align: center;
}

.highcharts-figure {
  display: grid;min-width: 440;
  width: 100vw;
  margin: 0;
margin-inline-start: 0;margin-inline-end: 0;margin-block-start: 0;
    margin-block-end: 0;grid-area: 4 / 1 / span 1/ span 2;}

.highcharts-scrolling {
width: 100vw;
  
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
  }
  
  /* The element at the top of the page right after the fixed navigation bar
     MUST have sufficient top margin or else it will be covered by the bar */
  .content {
    margin-top: 20px;
  }
  
  /* Example responsive navigation menu  */
  .fixed-nav-bar li, .fixed-nav-bar a { 
    height: 50px;
    line-height: 50px;
  }
  .menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #00a087;
  }
  .menu a, .menu a:visited {
    color: #ffffff;
  }
  .menu a:hover, .menu a:target {
    color: #ebebeb;
  }
  .menu-items {
    display: inline-block;
    background-color: #00a087;
  }
  .sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #00a087;
  }
  a.sitename, a:visited.sitename {
    color: #e0e0e0;
    background-color: #00a087;
  }
  .menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #00a087;
  }
  .menu-items a {
    text-decoration: none;
    background-color: #00a087;
  }
  .show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
  }
  .show {
    background-image: url(assets/down-arrow-icon.png);
  }
  .hide {
    background-image: url(assets/up-arrow-icon.png);
  }
  
  @media only screen and (max-width: 800px) {
.charts {
    display: grid;
    grid: 800px;
    width: 100vw;
    /* grid-gap: 1rem; */
    margin-top: 46px;
}
    .highcharts-container {background-color: black;max-width: 100%;max-height: 100%;}

    
    .menu { 
      position: relative;
      width: 100%;
    }
    .sitename {
      position: absolute;
      top: 0;
      left: 15px;
      margin-left: 0px;
    }
    .menu-items {
      display: none; 
      width: 100%;
      margin-top: 50px;
      background-color: #008378;
    }
    .menu-items li {
      display: block;
      text-align: center;
    }
    .show, .hide {  
      position: absolute;
      top: 0;
      right: 15px;
    }
    .show {
      display: inline-block;
    }
    .hide {
      display: none;
    }
    #menu:target .show {
      display: none;
    }
    #menu:target .hide, #menu:target .menu-items {
      display: inline-block;
    }
  }
  @media only screen and (min-width: 481px) {
    .sitename, .show, .hide {
      font-size: 14px;
    }
    .highcharts-container{
      max-width: 100%;
    }
    .gagues {
      --max-width:calc((100%) / 2);
      width:100%;
      /* height: 750px; */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(max(240px, var(--max-width)), 1fr));
      grid-template-rows: auto;
      /* grid-gap: 1rem;;;; */;
      /* align-items: center; */
      /* align-content: center; */
      /* justify-content: center; */
      /* justify-items: center; */
  }
    .charts {
      --max-width:
      calc((100vw) / 2);
      /* width:100%; */
      /* height: 750px; */
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(max(100vw, var(--max-width)), 1fr)); */
      grid-template-rows: auto;
      /* grid-gap: 1rem;;;; */
      /* align-items: center; */
      /* align-content: center; */
      /* justify-content: center; */
      /* justify-items: center; */
    }
    .highcharts-root {
      height:100%;
      max-width: 50vw;
    }
    .highcharts-title {
      font-size: 8px;
    }
  }
  @media only screen and (max-width: 480px) {
    .sitename, .show, .hide {
      font-size: 14px;
    }

    .gagues {
      /* --max-width:
      calc((100%) / 2); */
      width:100%;
      /* height: 750px; */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(max(240px, var(--max-width)), 1fr));
      grid-template-rows: 1fr 1fr 1fr
      /* grid-gap: 1rem;;;; */;
      /* align-items: center; */
      /* align-content: center; */
      /* justify-content: center; */
      /* justify-items: center; */
  }
    .highcharts-root {
      max-height:100%;
      
    }
    .highcharts-title {
      font-size: 8px;
    }
  }
  
  @media only screen and (max-width: 220px) {
    .sitename, .show, .hide {
      font-size: 14px;
    }
  }