@import 'https://fonts.googleapis.com/css?family=Unica+One';
.highcharts-title, .highcharts-subtitle {
  text-transform: uppercase;
  color:#fff;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,600&display=swap');

* {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1 em;
    color:#fff;
}

.highcharts-tooltip text {
  fill: #F0F0F0;
}

.highcharts-range-selector-buttons text {
  fill: silver;
}

.highcharts-yaxis-grid {
  stroke-width: 1px;
}

.highcharts-axis-labels, .highcharts-axis-title {
  fill: #E0E0E3;
}

.highcharts-navigator .highcharts-navigator-handle {
  fill: #666;
  stroke: #aaa;
}

.highcharts-navigator .highcharts-navigator-outline {
  stroke: #CCC;
}

.highcharts-navigator .highcharts-navigator-xaxis .highcharts-grid-line {
  stroke: #505053;
}

.highcharts-scrollbar .highcharts-scrollbar-rifles {
  stroke: #fff;
}

.highcharts-scrollbar .highcharts-scrollbar-button {
  stroke: #606063;
  fill: #606063;
}

.highcharts-scrollbar .highcharts-scrollbar-arrow {
  fill: #CCC;
}

.highcharts-scrollbar .highcharts-scrollbar-thumb {
  fill: #808083;
  stroke: #808083;
}

.highcharts-contextbutton .highcharts-button-symbol {
  stroke: #DDDDDD;
}

/**
 * @license Highcharts
 *
 * (c) 2009-2016 Torstein Honsi
 *
 * License: www.highcharts.com/license
 */

.highcharts-root {
  display: block;
}

.highcharts-root text {
  stroke-width: 0;
  color:#fff;
}

.highcharts-strong {
  font-weight: bold;
}

.highcharts-emphasized {
  font-style: italic;
}

.highcharts-anchor {
  cursor: pointer;
}

.highcharts-background {
  fill: #000000;
}

.highcharts-plot-border, .highcharts-plot-background {
  fill: none;
}

.highcharts-label-box {
  fill: none;
}

.highcharts-button-box {
  fill: inherit;
}


.wrapper {
    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-right: 10px;
    padding-left: 10px;
}
.header {
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    color: transparent;
    background: url(images/clouds.jpg);
    background-size: 100% 100%;
    background-clip:text;
    -webkit-background-clip: text;
    font-size: 10vw;
    font-weight: 700;
    display: flex;
    margin: 0;
    grid-column: 2 / 4;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.charts {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.link {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  margin: 0;
  grid-column: 2 / 4;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
